<!doctype html>
	<head>
		<title>{{project.name}}-Bamboo</title>
		<meta name="description" content="Project Manager Project">
		<meta name="keywords" content="Project Manager">
		<meta name="author" content="Benjamin Guilbaud , Romain Grelet et Mathilde Husson">
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel= "stylesheet" href= "../assets/styles/style.css"/>
		<script type="text/javascript" src="../assets/javascript/jquery-2.1.1.min"></script>
		<script type="text/javascript" src="../assets/javascript/Walrus.js"></script>
        <script type="text/javascript" src="../assets/javascript/home.js"></script>
	</head>

    <body>
        <header>
             <nav>
             	<a href="/" id="logo">
                	<img src="../assets/images/logoBamboo3.png" height="50">
             	</a>
             	<a href="#" id="logout">
             		Deconnexion
             	</a>
            </nav>
        </header>
        <h1>Vous &ecirc;tes sur la board du projet {{project.name}}</h1>
        <h2>{{project.description}}</h2>
        <div>
            <ul class="errors">
                {% for errorTag in errors %}
                    {% for error in errorTag %}
                        <li>{{error}}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <form action="/tasks/create/{{project.id}}" method="POST">
                <div>{{formTask.name.label}} : {{helpers.GetField.getFieldFilter(formTask.name)|raw}}</div>
                <div>{{formTask.description.label}} : {{helpers.GetField.getFieldFilter(formTask.description)|raw}}</div>
                <div>{{formTask.color.label}} : {{helpers.GetField.getFieldFilter(formTask.color)|raw}}</div>
                <div>{{formTask.deadline.label}} : {{helpers.GetField.getFieldFilter(formTask.deadline)|raw}}</div>
                <input type="submit" name="submit" value="Cr&eacute;er">
            </form>
        </div>
        <div>
            {% for task in tasks %}
                <div>{{task.id}}</div>
                <div>{{task.name}}</div>
                <div>{{task.description}}</div>
                <div>{{task.color}}</div>
                <div>{{task.deadline}}</div>
                <br>
            {% endfor %}
        </div>
    </body>
</html>