{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}

    <title>{{project.name}}-Bamboo</title>
    <link rel= "stylesheet" href= "/assets/styles/home.css"/>
    <link rel= "stylesheet" href= "/assets/styles/rightbar.css"/>
    <link rel= "stylesheet" href= "/assets/styles/tasks.css"/>
{% endblock %}


{% block content %}
        <div id="project">
            <h1>Vous &ecirc;tes sur la board du projet {{project.name}}</h1>
            <p>{{project.description}}</p>
        </div>
        <div>
            <ul class="errors">
                {% for errorTag in errors %}
                    {% for error in errorTag %}
                        <li>{{error}}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <div id="cards">
            <div id="active">
                <div class="column do">
                    <div class="task">   
                        To Do
                    </div>
                    {% for task in tasks %}
                        {% if task.archive == 0 %}
                            {% if task.status == 'do' %}
                               <div class="card-task">
                                    <div class="title-task {% if task.color is defined %} {{ task.color }} {% endif %}">
                                        {{task.name}}
                                        <div class="card-action">
                                            <a href="/tasks/archive/{{project.id}}/{{task.id}}/">
                                                <img src="/assets/images/save.png" height="25">
                                            </a>
                                            &nbsp;
                                            <a href="/tasks/edit/{{project.id}}/{{task.id}}/">
                                                <img src="/assets/images/edit.png" height="25">
                                            </a>
                                            &nbsp;
                                            <a href="/tasks/delete/{{project.id}}/{{task.id}}/">
                                                <img src="/assets/images/close.png" height="25">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="information description">{{task.description}}</div>
                                    <div class="information">Fin le {{task.deadline}}</div>
                                    <div class="information">{{task.status}}</div>
                               </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="column doing">
                    <div class="task">   
                        Doing
                    </div>
                    {% for task in tasks %}
                        {% if task.archive == 0 %}
                            {% if task.status == 'doing' %}
                               <div class="card-task">
                                    <div class="title-task {% if task.color is defined %} {{ task.color }} {% endif %}">
                                        {{task.name}}
                                        <div class="card-action">
                                            <a href="/tasks/archive/{{project.id}}/{{task.id}}/">
                                                <img src="/assets/images/save.png" height="25">
                                            </a>
                                            &nbsp;
                                            <a href="/tasks/edit/{{project.id}}/{{task.id}}/">
                                                <img src="/assets/images/edit.png" height="25">
                                            </a>
                                            &nbsp;
                                            <a href="/tasks/delete/{{project.id}}/{{task.id}}/">
                                                <img src="/assets/images/close.png" height="25">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="information description">{{task.description}}</div>
                                    <div class="information">Fin le {{task.deadline}}</div>
                                    <div class="information">{{task.status}}</div>
                               </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="column done">
                    <div class="task">   
                        Done
                    </div>
                    {% for task in tasks %}
                        {% if task.archive == 0 %}
                            {% if task.status == 'done' %}
                               <div class="card-task">
                                    <div class="title-task {% if task.color is defined %} {{ task.color }} {% endif %}">
                                        {{task.name}}
                                        <div class="card-action">
                                            <a href="/tasks/archive/{{project.id}}/{{task.id}}/">
                                                <img src="/assets/images/save.png" height="25">
                                            </a>
                                            &nbsp;
                                            <a href="/tasks/edit/{{project.id}}/{{task.id}}/">
                                                <img src="/assets/images/edit.png" height="25">
                                            </a>
                                            &nbsp;
                                            <a href="/tasks/delete/{{project.id}}/{{task.id}}/">
                                                <img src="/assets/images/close.png" height="25">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="information description">{{task.description}}</div>
                                    <div class="information">Fin le {{task.deadline}}</div>
                                    <div class="information">{{task.status}}</div>
                               </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div id="archives">
                <div class="archive">T&acirc;ches Archiv&eacute;es</div>
                {% for task in tasks %}
                    {% if task.archive == 1 %}
                        
                       <div class="card-task">
                            <div class="title-task {% if task.color is defined %} {{ task.color }} {% endif %}">
                                {{task.name}}
                                <div class="card-action">
                                    <a href="/tasks/archive/{{project.id}}/{{task.id}}/">
                                    &nbsp;
                                    <a href="/tasks/delete/{{project.id}}/{{task.id}}/">
                                        <img src="/assets/images/close.png" height="25">
                                    </a>
                                </div>
                            </div>
                            <div class="information description">{{task.description}}</div>
                            <div class="information">Fin le {{task.deadline}}</div>
                            <div class="information">Derniere etape {{task.status}}</div>
                       </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </fieldset>
{% endblock %}

{% block rightbar %}
    <div id="right-bar">
        <div id="tools">Hula hup, bambootruc</div>
        <form action="/tasks/create/{{project.id}}/" method="POST">
            <div>
                <label>{{formTask.name.label}} : </label>
                {{helpers.GetField.getFieldFilter(formTask.name)|raw}}
            </div>
            <div>
                <label>{{formTask.description.label}} : </label>
                {{helpers.GetField.getFieldFilter(formTask.description)|raw}}
            </div>
            <div>
                <label>{{formTask.color.label}} : </label>
                {{helpers.GetField.getFieldFilter(formTask.color)|raw}}
            </div>
            <div>
                <label>{{formTask.deadline.label}} : </label>
                {{helpers.GetField.getFieldFilter(formTask.deadline)|raw}}
            </div>
            <input type="submit" name="submit" value="Cr&eacute;er">

    </div>
{% endblock %}
