{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}

    <title>Mise a jour {{project.name}}-Bamboo</title>
    <link rel= "stylesheet" href= "/assets/styles/home.css"/>
{% endblock %}

{% block content %}
    <ul class="errors">
        {% for errorTag in errors %}
            {% for error in errorTag %}
                <li>{{error}}</li>
            {% endfor %}
        {% endfor %}
    </ul>
    <form action="/projects/update/{{project.id}}" method="POST" id="update">
        <div>
            <label>{{formProject.name.label}} : </label>
            {{helpers.GetField.getFieldFilter(formProject.name)|raw}}
        </div>
        <div>
            <label>{{formProject.description.label}} : </label>
            {{helpers.GetField.getFieldFilter(formProject.description)|raw}}
        </div>
        <div style="clear:both;"></div>
        <br>
        <input type="submit" name="submit" value="Envoyer" >
    </form>
{% endblock %}