{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}

    <title>HomePage-Bamboo</title>
    <link rel= "stylesheet" href= "/assets/styles/home.css"/>
    <link rel= "stylesheet" href= "/assets/styles/rightbar.css"/>
    <link rel= "stylesheet" href= "/assets/styles/projects.css"/>
{% endblock %}


{% block content %}
    {% if noProject is defined %}
        {{ noProject }}
    {% else %}
        {% if projects is defined %}
            {% for batch in projects|batch(4) %}
                <div>
                    {% for project in batch %}
                        <div class="card-project">
                            {% if project.name is defined %}
                                <div class="title-project">
                                    <a href="/projects/{{project.id}}">
                                        {{ project.name }}
                                    </a>
                                    <div class="card-action">
                                        <a href="/projects/edit/{{project.id}}">
                                            <img src="assets/images/edit.png" height="25">
                                        </a>
                                        &nbsp;
                                        <a href="/projects/delete/{{project.id}}">
                                            <img src="assets/images/close.png" height="25">
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if project.description is defined %}
                                <div class="information description">
                                    {{ project.description }}
                                </div>
                            {% endif %}
                            {% if project.date_update is defined %}
                                <div class="last-use information">
                                    Derniere mise a jour le 
                                    {{ project.date_update }}
                                </div>
                            {% endif %}
                            <div class="stats">
                                Statistiques
                                <div class="arrow-right"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="statistics"></div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block rightbar %}
    <div id="right-bar">
        <div id="tools">Hula hup, bambootruc</div>
        <form id="createProject" action="/projects/create" method="POST">
            <div>
                <label>{{formProject.name.label}} : </label>
                {{helpers.GetField.getFieldFilter(formProject.name)|raw}}
            </div>
            <div>
                <label>{{formProject.description.label}} : </label>
                {{helpers.GetField.getFieldFilter(formProject.description)|raw}}
            </div>
            <input type="submit" name="submit" value="Envoyer">
        </form>
    </div>
{% endblock %}