<!doctype html>
	<head>
		<title>HomePage-Bamboo</title>
		<meta name="description" content="Project Manager Project">
		<meta name="keywords" content="Project Manager">
		<meta name="author" content="Benjamin Guilbaud , Romain Grelet et Mathilde Husson">
		<meta charset="UTF-8 bin">
		<link href='http://fonts.googleapis.com/css?family=Arimo&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel= "stylesheet" href= "./assets/styles/style.css"/>
		<script type="text/javascript" src="assets/javascript/jquery-2.1.1.min"></script>
		<script type="text/javascript" src="assets/javascript/walrus"></script>
        <script type="text/javascript" src="/assets/javascript/home.js"></script>
		<script type="text/javascript" src="www/assets/javascript/Walrus.js"></script>

		<script type="text/javascript">
			Walrus.init({
				ajaxNavigation: true
			});
		</script>
	</head>

    <body>
        <div id="header">
             <nav>
             	<div id="logo">
                	<img src="assets/images/logoBamboo3.png" height="50"> 
             	</div>
             	<div id="logout">
             		Deconnexion
             	</div>
            </nav>
        </div>
        <div id="projects" class="">
        	<div id="first-line">
	            <!-- <div>
	                <form id="createProject" action="/form/project" method="POST">
	                    <div>{{formProject.name.label}} : {{helpers.GetField.getFieldFilter(formProject.name)|raw}}</div>
	                    <div>{{formProject.description.label}} : {{helpers.GetField.getFieldFilter(formProject.description)|raw}}</div>
	                    <input type="submit" name="submit" value="Envoyer">
	                </form>
	            </div> -->
	            {% if noProject is defined %}
		            {{ noProject }}
		        {% else %}
		            {% if projects is defined %}
		                {% for project in projects %}
		                    <div class="card-project float-left">
		                        {% if project.name is defined %}
		                        <div class="title-project">
		                            {{ project.name }}
		                        </div>
		                        {% endif %}
	                            {% if project.description is defined %}
	                            <div class="description, information">
	                                {{ project.description }}
	                            </div>
	                            {% endif %}
	                            {% if project.date_update is defined %}
		                        <div class="last_use, information">
		                            Derniere mise a jour le 
		                            {{ project.date_update }}
		                        </div>
	                            {% endif %}
		                        <div class="stats">
		                            Statistiques
		                            <div class="arrow-right"></div>
		                        </div>
		                    </div>
		                {% endfor %}
		            {% endif %}
		        {% endif %}

		        <!-- Just for test, to delete when jQuery is put -->
		        <div class="card-project float-left">
			        <div class="title-project">
			        	Test espace stats
			        </div>
			        <div class="description, information">
			            Sous ce projet, on teste l'espace statistiques, ou en tout cas son aspect
			        </div>
			        <div class="last_use, information">
			            Derniere mise a jour le 20/09/1994
			        </div>
			        <div class="stats">
			            Statistiques
			            <div class="arrow-down"></div>
			        </div>
			    </div>
		        <div class="card-project float-left">
			        <div class="title-project">
			        	Test espace stats
			        </div>
			        <div class="description, information">
			            Sous ce projet, on teste l'espace statistiques, ou en tout cas son aspect
			        </div>
			        <div class="last_use, information">
			            Derniere mise a jour le 20/09/1994
			        </div>
			        <div class="stats">
			            Statistiques
			            <div class="arrow-down"></div>
			        </div>
			    </div>
		        <div class="card-project float-left">
			        <div class="title-project">
			        	Test espace stats
			        </div>
			        <div class="description, information">
			            Sous ce projet, on teste l'espace statistiques, ou en tout cas son aspect
			        </div>
			        <div class="last_use, information">
			            Derniere mise a jour le 20/09/1994
			        </div>
			        <div class="stats">
			            Statistiques
			            <div class="arrow-down"></div>
			        </div>
			    </div>
			</div>
			<div class="statistics">
			</div>
        </div>
        <aside></aside>
        <footer>

        </footer>
    </body>
</html>