<!doctype html>
	<head>
		<title>HomePage-Bamboo</title>
		<meta name="description" content="Project Manager Project">
		<meta name="keywords" content="Project Manager">
		<meta name="author" content="Benjamin Guilbaud , Romain Grelet et Mathilde Husson">
		<meta charset="UTF-8 bin">
		<link href='http://fonts.googleapis.com/css?family=Arimo&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link rel= "stylesheet" href= "./assets/styles/style.css"/>
		<script type="text/javascript" src="assets/javascript/jquery-2.1.1.min"></script>
		<script type="text/javascript" src="assets/javascript/walrus"></script>
        <script type="text/javascript" src="/assets/javascript/home.js"></script>
		<script type="text/javascript" src="www/assets/javascript/Walrus.js"></script>

		<script type="text/javascript">
			Walrus.init({
				ajaxNavigation: true
			});
		</script>
	</head>

    <body>
        <div id="header">
             <nav>
             	<div id="logo">
                	<img src="assets/images/pandaBamboo.png" height="50"> 
             	</div>
             	<div id="logout">
             		Deconnexion
             	</div>
            </nav>
        </div>
        <div id="projects">
            <!-- <div>
                <form id="createProject" action="/form/project" method="POST">
                    <div>{{formProject.name.label}} : {{helpers.GetField.getFieldFilter(formProject.name)|raw}}</div>
                    <div>{{formProject.description.label}} : {{helpers.GetField.getFieldFilter(formProject.description)|raw}}</div>
                    <input type="submit" name="submit" value="Envoyer">
                </form>
            </div> -->
            {% if noProject is defined %}
	            {{ noProject }}
	        {% else %}
	            {% if projects is defined %}
	                {% for project in projects %}
	                    <div class="card-project">
	                        <div class="title-project">
	                            {% if project.name is defined %}
	                                {{ project.name }}
	                            {% endif %}
	                        </div>
                            <div class="description">
                                {% if project.description is defined %}
                                    {{ project.description }}
                                {% endif %}
                            </div>
	                        <div class="last_use">
	                            batard
	                        </div>
	                        <div class="stats">
	                            Stats
	                        </div>
	                    </div>
	                {% endfor %}
	            {% endif %}
	        {% endif %}
        </div>
        <aside></aside>
        <footer>

        </footer>
    </body>
</html>