<!doctype html>
    <head>
        <title>HomePage-Bamboo</title>
        <meta name="description" content="Project Manager Project">
        <meta name="keywords" content="Project Manager">
        <meta name="author" content="Benjamin Guilbaud , Romain Grelet et Mathilde Husson">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel= "stylesheet" href= "../assets/styles/style.css"/>
        <script type="text/javascript" src="../assets/javascript/jquery-2.1.1.min"></script>
        <script type="text/javascript" src="../assets/javascript/Walrus.js"></script>
        <script type="text/javascript" src="../assets/javascript/home.js"></script>
    </head>

    <body>
        <header>
             <nav>
             	<div id="logo">
                	<img src="../assets/images/logoBamboo3.png" height="50">
             	</div>
             	<a href="#" id="logout">
             		Deconnexion
             	</a>
            </nav>
        </header>
        <div id="projects">
            <div>
                <form id="createProject" action="/form/project" method="POST">
                    <div><label>{{formProject.name.label}} : </label>{{helpers.GetField.getFieldFilter(formProject.name)|raw}}</div>
                    <div><label>{{formProject.description.label}} : </label>{{helpers.GetField.getFieldFilter(formProject.description)|raw}}</div>
                    <input type="submit" name="submit" value="Envoyer">
                </form>
            </div>
            {% if noProject is defined %}
	            {{ noProject }}
	        {% else %}
	            {% if projects is defined %}
	                {% for batch in projects|batch(4) %}
	    				<div>
		                	{% for project in batch %}
			                    <div class="card-project float-left">
			                        {% if project.name is defined %}
			                        <div class="title-project">
                                        <a href="/projects/{{project.id}}">
    			                            {{ project.name }}
                                        </a>
			                            <div class="card-action">
	             							<a href="#">
					                            <img src="assets/images/edit.png" height="25">
					                        </a>
					                        &nbsp;
	             							<a href="/projects/delete/{{project.id}}">
					                            <img src="assets/images/close.png" height="25">
					                        </a>
			                        	</div>
			                        </div>
			                        {% endif %}
		                            {% if project.description is defined %}
		                            <div class="description information">
		                                {{ project.description }}
		                            </div>
		                            {% endif %}
		                            {% if project.date_update is defined %}
			                        <div class="last-use information">
			                            Derniere mise a jour le 
			                            {{ project.date_update }}
			                        </div>
		                            {% endif %}
			                        <div class="stats">
			                            Statistiques
			                            <div class="arrow-right"></div>
			                        </div>
			                    </div>
		                    {% endfor %}
						</div>
						<div class="statistics">
						</div>
	                {% endfor %}
	            {% endif %}
		    {% endif %}
        </div>
        	<div id="right-bar"></div>
        <footer>

        </footer>
    </body>
</html>